/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

!resources/
resources/*

!resources/public
resources/public/*

!resources/public/images
!resources/public/audio
!resources/public/js
resources/public/js/*

!resources/public/js/third_party