/*
Color Palette

#B3957C -- light brown
#3A210C -- dark brown
#7C9C6C -- light green
#16320A -- dark green
#B3AD7C -- light yellow
#3A350C -- dark yellow

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: #3A350C;
}

a:hover {
    color: #5C572E;
}

a:active {
    top: 3px;
}

body {
    width: 100%;
    height: 100%;
    background-color: #C4A68D;
    background-image: url("resources/public/images/dtcb.svg");
    background-position: bottom left;
    background-size: 40px;
    background-repeat: no-repeat;
    font-family: 'Pacifico', cursive;
    overflow: none;
}

#beer-title {
    color: #3A210C;
    padding-left: 20px;
    text-align: left;
    font-size: 42px;
    line-height: 50px;
    height: 50px;
}

#beer-area {
    position: absolute;
    opacity: 0;
    top: 50px;
    left: 5px;
    right: 5px;
    bottom: 50px;
    border-radius: 20px;
    background-color: #8FD987;
}

#beer-scoreboard {
    position: fixed;
    color: #3A210C;
    top: -50px;
    right: 0;
    padding-right: 20px;
    text-align: right;
    font-size: 24px;
    line-height: 50px;
}

#beer-count {
    font-size: 150%;
    color: #3A350C;
    font-family: 'Inconsolata', ;
}

#beer-start-dialog {
    opacity: 0;
    position: absolute;
    font-family: 'Lobster', cursive;
    top: 40%;
    right: 40%;
    left: 40%;
    height: 100px;
    line-height: 100px;
    background-color: #D5B79E;
    border-radius: 5px;
    border: 2px solid #B3957C;
    font-size: 300%;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
}

#beer-start-dialog:hover {
    color: #fff;
    background-color: #B3957C;
}

#beer-start-dialog:active {
    color: #163200;
    padding-top: 3px;
}

.hidden-beer {
    position: absolute;
    background-color: black;
    width: 3px;
    height: 3px;
    cursor: pointer;
}

#footer {
    font-family: 'Lobster', cursive;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    overflow: none;
}

.divider {
    padding: 0 10px 0 10px;
}

#beer-dialog {
    position: absolute;
    top: 20%;
    right: 20%;
    left: 20%;
    height: 400px;
    border-radius: 10px;
    background-color: #D5B79E;
    border: 2px solid #B3957C;
}

#beer-dialog-header {
    position: absolute;
    top: 0;
    height: 75px;
    line-height: 75px;
    vertical-align: center;
    width: 100%;
    font-size: 200%;
    text-align: center;
}

#beer-dialog-content {
    position: absolute;
    top: 75px;
    height: 275px;
    width: 100%;
    padding: 25px;
}

#beer-dialog-footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

#beer-dialog-left-button {
    float: left;
    width: 50%;
}

#beer-dialog-right-button {
    font-family: 'Lobster', cursive;
    float: right;
    width: 50%;
}

.dialog-button {
    line-height: 50px;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.dialog-button:hover {
    background-color: #E6C8AF;
}